body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #0d1117;
  color: #fff;
}
p {
  font-family: Georgia, "Times New Roman", Times, serif;
}

header,
.content,
footer {
  padding: 1em;
}
